<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtro</title>
</head>
<body>
    <div id="importation"></div>
    
    <header id="header"></header>

    <div id="cont" class="container">
        <div id="filters1"></div>
    </div>

    <footer id="footer"></footer>

    <div id="importation_script"></div>
</body>

<script type="text/javascript" src="../model/imports.js"></script>
<script type="text/javascript" src="../model/header.js"></script>
<script type="text/javascript" src="../model/footer.js"></script>

<script type="text/javascript" src="../model/list.js"></script>
<script type="text/javascript" src="../model/basic_js.js"></script>

<script>
    filter_page();
</script>

</html>